body {
    background-color: #E6E6FA; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #b19cd9; 
    color: white;
    text-align: center;
    padding: 1em;
}

h1 {
    margin: 0;
}

main {
    padding: 2em;
}

.use-case {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #945eff;
}

